.RichEditor {
  border-radius: 0px !important;
}

.avatar, .Avatar, #user-dropdown-toggle {
  border-radius: 4px !important;
}

#user-dropdown-toggle:before {
  border-radius: 4px !important;
}

.DashboardProfileCard-avatarImage, .ProfileAvatar-image, .ProfileAvatar {
  border-radius: 7px !important;
}

.search-input {
  border-radius: 3px !important;
}

button, .EdgeButton {
  border-radius: 3px !important;
}